@import (inline) '~normalize.css/normalize.css';
@import (inline) '~angular-material/angular-material.css';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    .main-container {
        height: 100%;
    }
}
