.ek-instances {
    position: absolute;
    height: 100%;
    width: 100%;

    .test {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;

        md-content {
            height: 100%;
        }
    }
}