@import "../../colors";

.ek-instance-state {
	border-radius: 14px;
    height: 14px;
    width: 14px;

    &__online {
    	background: #90db2a;
    	border: 1px solid #5ec20e;
    }

    &__shutdown {
	    background: #ff6562;
	    border: 1px solid #e53935;
    }

    &__terminated {
	    background: #c2c2c2;
	    border: 1px solid #a4a4a4;
    }
}