.ek-table {
    width: 100%;
    display: table;
    border-collapse: collapse;

    &__header {
        background-color: #f1f3f5;
        display: table-header-group;
        color: #89919c;
        font-size: 12px;
        font-weight: 500;

        &__row {
            white-space: nowrap;
            display: table-row;
            border-bottom: 1px solid #dde0e3;

            & > * {
                display: table-cell;
                line-height: 16px;
                padding: 7px 20px;
                text-transform: capitalize;
                vertical-align: middle;
            }
        }
        
    }

    &__body {
        display: table-row-group;

        &__row {
            position: relative;
            display: table-row;
            height: 50px;
            border-bottom: 1px solid #ebeced;

            &:hover {
                background-color: #f8f8f9;
            }

            & > * {
                display: table-cell;
                vertical-align: middle;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}